//
   Created by yuzaizai on 2016/4/17.
// csss
link(type='text/css', rel='stylesheet', href='/stylesheets/datatables.css')
link(type='text/css', rel='stylesheet', href='/stylesheets/button.css')
link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap-datatable.css')
link(type='text/css', rel='stylesheet',href="/libs/bootstrap/dist/css/bootstrap.min.css")
