//
   Created by yuzaizai on 2016/4/17.
// csss

link(type='text/css', rel='stylesheet', href='/stylesheets/datatables.css')
link(type='text/css', rel='stylesheet', href='/stylesheets/button.css')

link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap-datatable.css')
link(type='text/css', rel='stylesheet',href="/libs/bootstrap/dist/css/bootstrap.min.css")

// js
script(type='text/javascript', charset='UTF-8',src="/libs/jquery/dist/jquery.js")
script(type='text/javascript', charset='UTF-8',src="/libs/bootstrap/dist/js/bootstrap.js")
script(type='text/javascript', charset='UTF-8', src="/js/datatables.js")
script(type='text/javascript', charset='UTF-8', src="/js/jquery.jsPlumb-1.4.0-all.js")
script(type='text/javascript', charset='UTF-8', src="/js/jquery-ui.js")
script(type='text/javascript', charset='UTF-8', src='/js/socket.io.js')

