doctype html
html
    head
        meta(charset="utf-8")
        title MappingOn - 我的映射
        meta(name='description', content='在线映射中心，对组织与应用之间的关系进行解耦合')

        style(type='text/css').
            body {
                font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }
        include includes/head
        block head
    body
        include includes/header
        block content
