//
   Created by yuzaizai on 2017/3/31.
extends ../userLayout
block network-nav
   script(type='text/javascript').
      $(".network-menu[tit=statistic]").addClass("active").siblings().removeClass("active");
      $(".network-menu[tit] .nav-icons").removeClass("ac");
      $(".network-menu[tit=statistic] .nav-icons").addClass("ac");
block content
   input(id="rowNum", type="hidden", value= "#{rowNum}" )
   input(id="rank", type="hidden", value= "#{rank}" )
   form(method="GET", action="",id = "analysisForm")
      .content-left(style='overflow:hidden;')
         .network-nav
         .network-nav-items( tit='all',onclick="statisticAnalysis();")
            span.nav-icons.myfile
            span.nav-item-title  映射统计信息
         .network-nav-items(tit='collaboration', onclick="simAnalysis();")
            span.nav-icons.mycola
            span.nav-item-title 相似度分析信息
         .network-nav-items.active(tit='fav', onclick="redundancyAnalysis();")
            span.nav-icons.mylike
            span.nav-item-title 冗余度分析信息
   div#redundancyDiv
   script(src='/js/ichart.1.2.1.min.js',type='text/javascript',charset='UTF-8')
   script(src='/js/redundancyA.js',type='text/javascript',charset='UTF-8')
