//
   Created by yuzaizai on 2016/4/24.

extends ../layout
block content
   .container
      .row
         a(href='/')
            img(style='paddingLeft:20px;',src='/images/title.png', border='0')
      .row
         .col-md-5
            form(method="POST", action="/user/signup",id="signForm")
               .modal-body
                  .form-group
                     label(for="signupNameLabel") 用户名
                     input.form-control(name="user[name]", type="text", id="userName")
                  .form-group
                     label(for="signupPasswordLabel") 密码
                     input#userPassword.form-control(name="user[password]", type="password")
                  .form-group
                     label(for="signupEmpIdLabel") 职员ID
                     input.form-control(name="user[empId]", type="text", id="empId")
               .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                  button.btn.btn-success(type="button", onclick="sign();") 下一步
   script(src="/js/Sign.js")