//
   Created by yuzaizai on 2016/4/24.

extends ../layout
block content
   .container
      .row
         a(href='/')
            img(style='paddingLeft:20px;',src='/images/title.png', border='0')
      .row
         .col-md-5
            form(method="POST", action="/user/signin",id="signForm")
               .modal-body
                  .form-group
                     label(for="signinName") 用户名
                     input#userName.form-control(name="user[name]", type="text")
                  .form-group
                     label(for="signinPassword") 密码
                     input#userPassword.form-control(name="user[password]", type="password")
               .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                  button.btn.btn-success(type="button",onclick="sign();") 提交
   script(src='/js/Sign.js')