extends ../userLayout
block content
    script(type='text/javascript').
        $(".network-menu[tit=home]").addClass("active").siblings().removeClass("active");
        $(".network-menu[tit] .nav-icons").removeClass("ac");
        $(".network-menu[tit=home] .nav-icons").addClass("ac");
    div
        .banner.banner1.active(alt='one', style='opacity: 1;')
            .banner-main
                .banner-main-parent
                    label.banner-title 在线映射中心
                    .banner-content(style='width:270px;')
                        | 对组织系统与应用之间的关系进行解耦合
    ul 接口信息


